Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
prodDb.mv.db
packaged-chart
.lock
charts/*.tgz
docker/*.jar
apps/omar-wfs-app/bin
plugins/omar-wfs-plugin/bin
package-lock.json
package.json
results/
node_modules/
cypress/fixtures/
cypress/plugins/
cypress/support/
cypress/videos/
